In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
from tensorflow import keras

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID column 'EIN'.

application_df = application_df.drop(columns=['EIN'])
application_df

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...
34294,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Determine the number of unique values in each column.

application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [4]:
names = application_df['NAME'].value_counts()
print(names)

PARENT BOOSTER USA INC                                              1260
TOPS CLUB INC                                                        765
UNITED STATES BOWLING CONGRESS INC                                   700
WASHINGTON STATE UNIVERSITY                                          492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                      408
                                                                    ...
LONG BEACH INGLEWOOD SOUTH BAY ALUMNI CHAPTER OF KAPPA ALPHA PSI       1
HARVEST TIME JUVENILE MINISTRIES INCORPORATED                          1
HAWAII ADVISORY COUNCIL ON MILITARY EDUCATION                          1
EVOLVING BODY-MIND INSTITUTE                                           1
MAYORS HEALTHY CITY INITIATIVE                                         1
Name: NAME, Length: 19568, dtype: int64

In [5]:
names_replaced = names[names<10].index.to_list()
for name in names_replaced: 
  application_df['NAME'] = application_df['NAME'].replace(name, 'other')

application_df['NAME'].value_counts()

other                                          21022
PARENT BOOSTER USA INC                          1260
TOPS CLUB INC                                    765
UNITED STATES BOWLING CONGRESS INC               700
WASHINGTON STATE UNIVERSITY                      492
                                               ...
BOYS TEAM CHARITY INC                             10
NEW MEXICO GARDEN CLUBS INC                       10
DISTRICT 21 AMERICAN CONTRACT BRIDGE LEAGUE       10
CASCADE 4-H FOUNDATION                            10
NATIONAL ASSOCIATION OF HISPANIC NURSES           10
Name: NAME, Length: 223, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning

classifications = application_df['CLASSIFICATION'].value_counts()
print(classifications)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C1283        1
C4120        1
C1900        1
C1580        1
C4200        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`

classifications_to_replace = classifications[classifications<100].index.to_list()
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [8]:
# Look at APPLICATION_TYPE value counts for binning

application_types = application_df['APPLICATION_TYPE'].value_counts()
application_types

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T14        3
T25        3
T15        2
T29        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [9]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`

application_types_to_replace = application_types[application_types<500].index.to_list()
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`

application_converted = pd.get_dummies(application_df, dtype=float)
application_converted

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALABAMA TREASURE FOREST ASSOCIATION,NAME_ALPHA PHI SIGMA,NAME_ALPHA PHI SIGMA INC,NAME_ALTRUSA INTERNATIONAL FOUNDATION INC,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [11]:
# Split our preprocessed data into our features and target arrays 

X = application_converted.drop(columns='IS_SUCCESSFUL', axis=1)
y = application_converted['IS_SUCCESSFUL'].values
# Split the preprocessed data into a training and testing dataset

X_train, X_test, y_train, y_test = train_test_split(X,y,random_state = 42)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [13]:
# Check number of the data points
n = len(X_train_scaled[0])
n

272

In [14]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

nn = tf.keras.models.Sequential()

# First hidden layer

nn.add(tf.keras.layers.Dense(units=80, activation='relu', input_dim=272))
# Second hidden layer

nn.add(tf.keras.layers.Dense(units=30, activation='relu'))
# Output layer

nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))
# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 80)                21840
_________________________________________________________________
dense_1 (Dense)              (None, 30)                2430
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 31
=================================================================
Total params: 24,301
Trainable params: 24,301
Non-trainable params: 0
_________________________________________________________________

In [15]:
# Compile the model

nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [16]:
# Train the model

checkpoint_callback = tf.keras.callbacks.ModelCheckpoint(
                    filepath='Checkpoints',
                    save_weigths_only=True,
                    monitor='val_accuracy',
                    mod='max',
                    verbose=1,
                    period=5)

fit_model = nn.fit(X_train_scaled, y_train, epochs=100, callbacks=[checkpoint_callback])

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of samples seen.
Train on 25724 samples
Epoch 1/100
25724/25724 [==============================] - 5s 195us/sample - loss: 0.4757 - accuracy: 0.7715
Epoch 2/100
25724/25724 [==============================] - 4s 146us/sample - loss: 0.4429 - accuracy: 0.7849
Epoch 3/100
25724/25724 [==============================] - 4s 139us/sample - loss: 0.4391 - accuracy: 0.7864
Epoch 4/100
25724/25724 [==============================] - 4s 167us/sample - loss: 0.4369 - accuracy: 0.7867
Epoch 5/100
25536/25724 [============================>.] - ETA: 0s - loss: 0.4354 - accuracy: 0.7875
Epoch 00005: saving model to Checkpoints
WARNING:tensorflow:From /opt/anaconda3/envs/ucsdvevn/lib/python3.6/site-packages/tensorflow_core/python/ops/resource_variable_ops.py:1781: calling BaseResourceVariable.__init__ (from tensorflow.python.ops.resource_variable_ops) with constraint is deprecated and will be removed in a future version.
Instructions for updating:
If using Keras pass *_constraint arguments to layers.
INFO:tensorflow:Assets written to: Checkpoints/assets
25724/25724 [==============================] - 5s 187us/sample - loss: 0.4352 - accuracy: 0.7877
Epoch 6/100
25724/25724 [==============================] - 13s 506us/sample - loss: 0.4343 - accuracy: 0.7887
Epoch 7/100
25724/25724 [==============================] - 5s 209us/sample - loss: 0.4331 - accuracy: 0.7896
Epoch 8/100
25724/25724 [==============================] - 4s 172us/sample - loss: 0.4322 - accuracy: 0.7903
Epoch 9/100
25724/25724 [==============================] - 5s 178us/sample - loss: 0.4312 - accuracy: 0.7908
Epoch 10/100
25536/25724 [============================>.] - ETA: 0s - loss: 0.4301 - accuracy: 0.7924
Epoch 00010: saving model to Checkpoints
INFO:tensorflow:Assets written to: Checkpoints/assets
25724/25724 [==============================] - 4s 174us/sample - loss: 0.4300 - accuracy: 0.7923
Epoch 11/100
25724/25724 [==============================] - 12s 478us/sample - loss: 0.4301 - accuracy: 0.7934
Epoch 12/100
25724/25724 [==============================] - 5s 206us/sample - loss: 0.4297 - accuracy: 0.7907
Epoch 13/100
25724/25724 [==============================] - 5s 208us/sample - loss: 0.4281 - accuracy: 0.7930
Epoch 14/100
25724/25724 [==============================] - 5s 192us/sample - loss: 0.4276 - accuracy: 0.7935
Epoch 15/100
25632/25724 [============================>.] - ETA: 0s - loss: 0.4268 - accuracy: 0.7930
Epoch 00015: saving model to Checkpoints
INFO:tensorflow:Assets written to: Checkpoints/assets
25724/25724 [==============================] - 4s 159us/sample - loss: 0.4274 - accuracy: 0.7926
Epoch 16/100
25724/25724 [==============================] - 8s 316us/sample - loss: 0.4271 - accuracy: 0.7934
Epoch 17/100
25724/25724 [==============================] - 5s 183us/sample - loss: 0.4264 - accuracy: 0.7946
Epoch 18/100
25724/25724 [==============================] - 4s 162us/sample - loss: 0.4259 - accuracy: 0.7945
Epoch 19/100
25724/25724 [==============================] - 4s 166us/sample - loss: 0.4252 - accuracy: 0.7951
Epoch 20/100
25632/25724 [============================>.] - ETA: 0s - loss: 0.4248 - accuracy: 0.7939
Epoch 00020: saving model to Checkpoints
INFO:tensorflow:Assets written to: Checkpoints/assets
25724/25724 [==============================] - 7s 286us/sample - loss: 0.4248 - accuracy: 0.7940
Epoch 21/100
25724/25724 [==============================] - 10s 389us/sample - loss: 0.4243 - accuracy: 0.7961
Epoch 22/100
25724/25724 [==============================] - 4s 158us/sample - loss: 0.4241 - accuracy: 0.7955
Epoch 23/100
25724/25724 [==============================] - 4s 164us/sample - loss: 0.4235 - accuracy: 0.7958
Epoch 24/100
25724/25724 [==============================] - 4s 173us/sample - loss: 0.4230 - accuracy: 0.7956
Epoch 25/100
25472/25724 [============================>.] - ETA: 0s - loss: 0.4224 - accuracy: 0.7964
Epoch 00025: saving model to Checkpoints
INFO:tensorflow:Assets written to: Checkpoints/assets
25724/25724 [==============================] - 5s 213us/sample - loss: 0.4226 - accuracy: 0.7963
Epoch 26/100
25724/25724 [==============================] - 8s 307us/sample - loss: 0.4221 - accuracy: 0.7978
Epoch 27/100
25724/25724 [==============================] - 5s 177us/sample - loss: 0.4222 - accuracy: 0.7973
Epoch 28/100
25724/25724 [==============================] - 5s 199us/sample - loss: 0.4213 - accuracy: 0.7969
Epoch 29/100
25724/25724 [==============================] - 4s 167us/sample - loss: 0.4208 - accuracy: 0.7975
Epoch 30/100
25664/25724 [============================>.] - ETA: 0s - loss: 0.4207 - accuracy: 0.7966
Epoch 00030: saving model to Checkpoints
INFO:tensorflow:Assets written to: Checkpoints/assets
25724/25724 [==============================] - 6s 215us/sample - loss: 0.4206 - accuracy: 0.7968
Epoch 31/100
25724/25724 [==============================] - 9s 356us/sample - loss: 0.4205 - accuracy: 0.7966
Epoch 32/100
25724/25724 [==============================] - 4s 171us/sample - loss: 0.4201 - accuracy: 0.7976
Epoch 33/100
25724/25724 [==============================] - 4s 162us/sample - loss: 0.4203 - accuracy: 0.7963
Epoch 34/100
25724/25724 [==============================] - 5s 199us/sample - loss: 0.4194 - accuracy: 0.7969
Epoch 35/100
25600/25724 [============================>.] - ETA: 0s - loss: 0.4192 - accuracy: 0.7981
Epoch 00035: saving model to Checkpoints
INFO:tensorflow:Assets written to: Checkpoints/assets
25724/25724 [==============================] - 6s 224us/sample - loss: 0.4197 - accuracy: 0.7977
Epoch 36/100
25724/25724 [==============================] - 10s 386us/sample - loss: 0.4190 - accuracy: 0.7972
Epoch 37/100
25724/25724 [==============================] - 4s 157us/sample - loss: 0.4189 - accuracy: 0.7989
Epoch 38/100
25724/25724 [==============================] - 4s 161us/sample - loss: 0.4191 - accuracy: 0.7986
Epoch 39/100
25724/25724 [==============================] - 4s 151us/sample - loss: 0.4182 - accuracy: 0.7979
Epoch 40/100
25472/25724 [============================>.] - ETA: 0s - loss: 0.4175 - accuracy: 0.7984
Epoch 00040: saving model to Checkpoints
INFO:tensorflow:Assets written to: Checkpoints/assets
25724/25724 [==============================] - 5s 207us/sample - loss: 0.4177 - accuracy: 0.7981
Epoch 41/100
25724/25724 [==============================] - 10s 372us/sample - loss: 0.4176 - accuracy: 0.7994
Epoch 42/100
25724/25724 [==============================] - 6s 220us/sample - loss: 0.4174 - accuracy: 0.7982
Epoch 43/100
25724/25724 [==============================] - 5s 180us/sample - loss: 0.4175 - accuracy: 0.7991
Epoch 44/100
25724/25724 [==============================] - 5s 193us/sample - loss: 0.4174 - accuracy: 0.7987
Epoch 45/100
25664/25724 [============================>.] - ETA: 0s - loss: 0.4175 - accuracy: 0.7986
Epoch 00045: saving model to Checkpoints
INFO:tensorflow:Assets written to: Checkpoints/assets
25724/25724 [==============================] - 5s 183us/sample - loss: 0.4174 - accuracy: 0.7987
Epoch 46/100
25724/25724 [==============================] - 8s 297us/sample - loss: 0.4168 - accuracy: 0.7990
Epoch 47/100
25724/25724 [==============================] - 3s 135us/sample - loss: 0.4164 - accuracy: 0.7984
Epoch 48/100
25724/25724 [==============================] - 4s 149us/sample - loss: 0.4167 - accuracy: 0.7998
Epoch 49/100
25724/25724 [==============================] - 4s 148us/sample - loss: 0.4163 - accuracy: 0.7994
Epoch 50/100
25664/25724 [============================>.] - ETA: 0s - loss: 0.4167 - accuracy: 0.7982
Epoch 00050: saving model to Checkpoints
INFO:tensorflow:Assets written to: Checkpoints/assets
25724/25724 [==============================] - 8s 326us/sample - loss: 0.4164 - accuracy: 0.7985
Epoch 51/100
25724/25724 [==============================] - 10s 392us/sample - loss: 0.4163 - accuracy: 0.7995
Epoch 52/100
25724/25724 [==============================] - 6s 226us/sample - loss: 0.4160 - accuracy: 0.7997
Epoch 53/100
25724/25724 [==============================] - 5s 190us/sample - loss: 0.4157 - accuracy: 0.7992
Epoch 54/100
25724/25724 [==============================] - 4s 157us/sample - loss: 0.4156 - accuracy: 0.7996
Epoch 55/100
25472/25724 [============================>.] - ETA: 0s - loss: 0.4152 - accuracy: 0.7996
Epoch 00055: saving model to Checkpoints
INFO:tensorflow:Assets written to: Checkpoints/assets
25724/25724 [==============================] - 4s 169us/sample - loss: 0.4156 - accuracy: 0.7994
Epoch 56/100
25724/25724 [==============================] - 7s 278us/sample - loss: 0.4152 - accuracy: 0.7997
Epoch 57/100
25724/25724 [==============================] - 4s 160us/sample - loss: 0.4149 - accuracy: 0.8003
Epoch 58/100
25724/25724 [==============================] - 4s 173us/sample - loss: 0.4152 - accuracy: 0.8001
Epoch 59/100
25724/25724 [==============================] - 4s 166us/sample - loss: 0.4149 - accuracy: 0.8003
Epoch 60/100
25472/25724 [============================>.] - ETA: 0s - loss: 0.4149 - accuracy: 0.8001
Epoch 00060: saving model to Checkpoints
INFO:tensorflow:Assets written to: Checkpoints/assets
25724/25724 [==============================] - 6s 215us/sample - loss: 0.4148 - accuracy: 0.8002
Epoch 61/100
25724/25724 [==============================] - 8s 304us/sample - loss: 0.4147 - accuracy: 0.7993
Epoch 62/100
25724/25724 [==============================] - 6s 245us/sample - loss: 0.4146 - accuracy: 0.8009
Epoch 63/100
25724/25724 [==============================] - 5s 189us/sample - loss: 0.4143 - accuracy: 0.7998
Epoch 64/100
25724/25724 [==============================] - 5s 205us/sample - loss: 0.4141 - accuracy: 0.8004
Epoch 65/100
25504/25724 [============================>.] - ETA: 0s - loss: 0.4142 - accuracy: 0.7999
Epoch 00065: saving model to Checkpoints
INFO:tensorflow:Assets written to: Checkpoints/assets
25724/25724 [==============================] - 4s 170us/sample - loss: 0.4140 - accuracy: 0.8001
Epoch 66/100
25724/25724 [==============================] - 8s 314us/sample - loss: 0.4142 - accuracy: 0.8001
Epoch 67/100
25724/25724 [==============================] - 4s 170us/sample - loss: 0.4140 - accuracy: 0.8001
Epoch 68/100
25724/25724 [==============================] - 4s 168us/sample - loss: 0.4137 - accuracy: 0.7997
Epoch 69/100
25724/25724 [==============================] - 4s 158us/sample - loss: 0.4136 - accuracy: 0.8005
Epoch 70/100
25344/25724 [============================>.] - ETA: 0s - loss: 0.4127 - accuracy: 0.8007
Epoch 00070: saving model to Checkpoints
INFO:tensorflow:Assets written to: Checkpoints/assets
25724/25724 [==============================] - 6s 223us/sample - loss: 0.4134 - accuracy: 0.8004
Epoch 71/100
25724/25724 [==============================] - 7s 257us/sample - loss: 0.4134 - accuracy: 0.8011
Epoch 72/100
25724/25724 [==============================] - 4s 137us/sample - loss: 0.4134 - accuracy: 0.7998
Epoch 73/100
25724/25724 [==============================] - 4s 136us/sample - loss: 0.4135 - accuracy: 0.8002
Epoch 74/100
25724/25724 [==============================] - 5s 184us/sample - loss: 0.4133 - accuracy: 0.8005
Epoch 75/100
25472/25724 [============================>.] - ETA: 0s - loss: 0.4129 - accuracy: 0.8008
Epoch 00075: saving model to Checkpoints
INFO:tensorflow:Assets written to: Checkpoints/assets
25724/25724 [==============================] - 5s 185us/sample - loss: 0.4132 - accuracy: 0.8007
Epoch 76/100
25724/25724 [==============================] - 7s 277us/sample - loss: 0.4130 - accuracy: 0.8007
Epoch 77/100
25724/25724 [==============================] - 4s 145us/sample - loss: 0.4129 - accuracy: 0.8014
Epoch 78/100
25724/25724 [==============================] - 5s 176us/sample - loss: 0.4131 - accuracy: 0.8006
Epoch 79/100
25724/25724 [==============================] - 4s 165us/sample - loss: 0.4127 - accuracy: 0.8009
Epoch 80/100
25440/25724 [============================>.] - ETA: 0s - loss: 0.4125 - accuracy: 0.8011
Epoch 00080: saving model to Checkpoints
INFO:tensorflow:Assets written to: Checkpoints/assets
25724/25724 [==============================] - 6s 219us/sample - loss: 0.4130 - accuracy: 0.8008
Epoch 81/100
25724/25724 [==============================] - 7s 275us/sample - loss: 0.4132 - accuracy: 0.7999
Epoch 82/100
25724/25724 [==============================] - 4s 157us/sample - loss: 0.4122 - accuracy: 0.8007
Epoch 83/100
25724/25724 [==============================] - 5s 178us/sample - loss: 0.4127 - accuracy: 0.8008
Epoch 84/100
25724/25724 [==============================] - 4s 147us/sample - loss: 0.4120 - accuracy: 0.8013
Epoch 85/100
25664/25724 [============================>.] - ETA: 0s - loss: 0.4124 - accuracy: 0.8008
Epoch 00085: saving model to Checkpoints
INFO:tensorflow:Assets written to: Checkpoints/assets
25724/25724 [==============================] - 4s 171us/sample - loss: 0.4122 - accuracy: 0.8010
Epoch 86/100
25724/25724 [==============================] - 8s 326us/sample - loss: 0.4126 - accuracy: 0.8006
Epoch 87/100
25724/25724 [==============================] - 3s 136us/sample - loss: 0.4126 - accuracy: 0.8012
Epoch 88/100
25724/25724 [==============================] - 4s 137us/sample - loss: 0.4126 - accuracy: 0.8009
Epoch 89/100
25724/25724 [==============================] - 4s 136us/sample - loss: 0.4130 - accuracy: 0.8015
Epoch 90/100
25600/25724 [============================>.] - ETA: 0s - loss: 0.4122 - accuracy: 0.8003
Epoch 00090: saving model to Checkpoints
INFO:tensorflow:Assets written to: Checkpoints/assets
25724/25724 [==============================] - 4s 164us/sample - loss: 0.4119 - accuracy: 0.8006
Epoch 91/100
25724/25724 [==============================] - 7s 259us/sample - loss: 0.4119 - accuracy: 0.8012
Epoch 92/100
25724/25724 [==============================] - 6s 216us/sample - loss: 0.4128 - accuracy: 0.8011
Epoch 93/100
25724/25724 [==============================] - 6s 241us/sample - loss: 0.4119 - accuracy: 0.8012
Epoch 94/100
25724/25724 [==============================] - 5s 177us/sample - loss: 0.4118 - accuracy: 0.8005
Epoch 95/100
25504/25724 [============================>.] - ETA: 0s - loss: 0.4123 - accuracy: 0.8009
Epoch 00095: saving model to Checkpoints
INFO:tensorflow:Assets written to: Checkpoints/assets
25724/25724 [==============================] - 4s 162us/sample - loss: 0.4119 - accuracy: 0.8012
Epoch 96/100
25724/25724 [==============================] - 7s 274us/sample - loss: 0.4121 - accuracy: 0.8013
Epoch 97/100
25724/25724 [==============================] - 5s 190us/sample - loss: 0.4114 - accuracy: 0.8009
Epoch 98/100
25724/25724 [==============================] - 4s 154us/sample - loss: 0.4117 - accuracy: 0.8012
Epoch 99/100
25724/25724 [==============================] - 4s 174us/sample - loss: 0.4114 - accuracy: 0.8016
Epoch 100/100
25344/25724 [============================>.] - ETA: 0s - loss: 0.4113 - accuracy: 0.8016
Epoch 00100: saving model to Checkpoints
INFO:tensorflow:Assets written to: Checkpoints/assets
25724/25724 [==============================] - 4s 159us/sample - loss: 0.4117 - accuracy: 0.8015

In [17]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/1 - 3s - loss: 0.4707 - accuracy: 0.7787
Loss: 0.48560136861425796, Accuracy: 0.7786588668823242

In [18]:
# Export our model to HDF5 file

nn.save('Models/AlphabetSoupCharity_Optimization.h5')