## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
from tensorflow import keras

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE
application_df = application_df.drop(columns=['EIN', 'NAME'])
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
#  YOUR CODE GOES HERE
application_types = application_df['APPLICATION_TYPE'].value_counts()
application_types

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T15        2
T29        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE
application_types_to_replace = application_types[application_types<500].index.to_list()
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE
classifications = application_df['CLASSIFICATION'].value_counts()
classifications

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C6100        1
C1728        1
C1900        1
C1370        1
C2561        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE
classifications_filtered = classifications[classifications>1]
classifications_filtered

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1278       10
C1238       10
C1237        9
C1235        9
C7210        7
C1720        6
C2400        6
C4100        6
C1600        5
C1257        5
C2710        3
C1260        3
C0           3
C1267        2
C1246        2
C1256        2
C3200        2
C1234        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE
classifications_to_replace = classifications[classifications<100].index.to_list()
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE
application_converted = pd.get_dummies(application_df, dtype=float)
application_converted

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [10]:
# Split our preprocessed data into our features and target arrays 
#  YOUR CODE GOES HERE
X = application_converted.drop(columns='IS_SUCCESSFUL', axis=1)
y = application_converted['IS_SUCCESSFUL'].values
# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state = 42)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [12]:
n = len(X_train_scaled[0])
n

49

## Compile, Train and Evaluate the Model

In [13]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

nn = tf.keras.models.Sequential()

# First hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=40, activation='relu', input_dim=49))
# Second hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=15, activation='relu'))
# Output layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))
# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 80)                4000
_________________________________________________________________
dense_1 (Dense)              (None, 30)                2430
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 31
=================================================================
Total params: 6,461
Trainable params: 6,461
Non-trainable params: 0
_________________________________________________________________

In [14]:
# Compile the model
#  YOUR CODE GOES HERE
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [15]:
# Train the model
#  YOUR CODE GOES HERE
checkpoint_callback = tf.keras.callbacks.ModelCheckpoint(
                    filepath='Checkpoints',
                    save_weigths_only=True,
                    monitor='val_accuracy',
                    mod='max',
                    verbose=1,
                    period=5)

fit_model = nn.fit(X_train_scaled, y_train, epochs=100, callbacks=[checkpoint_callback])

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of samples seen.
Train on 25724 samples
Epoch 1/100
25724/25724 [==============================] - 4s 172us/sample - loss: 0.5725 - accuracy: 0.7165
Epoch 2/100
25724/25724 [==============================] - 4s 165us/sample - loss: 0.5534 - accuracy: 0.7292
Epoch 3/100
25724/25724 [==============================] - 3s 133us/sample - loss: 0.5508 - accuracy: 0.7280
Epoch 4/100
25724/25724 [==============================] - 4s 140us/sample - loss: 0.5492 - accuracy: 0.7302
Epoch 5/100
25600/25724 [============================>.] - ETA: 0s - loss: 0.5471 - accuracy: 0.7311
Epoch 00005: saving model to Checkpoints
WARNING:tensorflow:From /opt/anaconda3/envs/ucsdvevn/lib/python3.6/site-packages/tensorflow_core/python/ops/resource_variable_ops.py:1781: calling BaseResourceVariable.__init__ (from tensorflow.python.ops.resource_variable_ops) with constraint is deprecated and will be removed in a future version.
Instructions for updating:
If using Keras pass *_constraint arguments to layers.
INFO:tensorflow:Assets written to: Checkpoints/assets
25724/25724 [==============================] - 4s 148us/sample - loss: 0.5474 - accuracy: 0.7306
Epoch 6/100
25724/25724 [==============================] - 6s 227us/sample - loss: 0.5468 - accuracy: 0.7322
Epoch 7/100
25724/25724 [==============================] - 4s 138us/sample - loss: 0.5456 - accuracy: 0.7322
Epoch 8/100
25724/25724 [==============================] - 3s 130us/sample - loss: 0.5452 - accuracy: 0.7328
Epoch 9/100
25724/25724 [==============================] - 4s 151us/sample - loss: 0.5446 - accuracy: 0.7325
Epoch 10/100
25568/25724 [============================>.] - ETA: 0s - loss: 0.5441 - accuracy: 0.7338
Epoch 00010: saving model to Checkpoints
INFO:tensorflow:Assets written to: Checkpoints/assets
25724/25724 [==============================] - 4s 163us/sample - loss: 0.5440 - accuracy: 0.7338
Epoch 11/100
25724/25724 [==============================] - 5s 202us/sample - loss: 0.5437 - accuracy: 0.7338
Epoch 12/100
25724/25724 [==============================] - 4s 140us/sample - loss: 0.5427 - accuracy: 0.7326
Epoch 13/100
25724/25724 [==============================] - 4s 144us/sample - loss: 0.5425 - accuracy: 0.7336
Epoch 14/100
25724/25724 [==============================] - 4s 149us/sample - loss: 0.5422 - accuracy: 0.7344
Epoch 15/100
25664/25724 [============================>.] - ETA: 0s - loss: 0.5418 - accuracy: 0.7352
Epoch 00015: saving model to Checkpoints
INFO:tensorflow:Assets written to: Checkpoints/assets
25724/25724 [==============================] - 5s 181us/sample - loss: 0.5419 - accuracy: 0.7352
Epoch 16/100
25724/25724 [==============================] - 6s 214us/sample - loss: 0.5414 - accuracy: 0.7347
Epoch 17/100
25724/25724 [==============================] - 4s 142us/sample - loss: 0.5409 - accuracy: 0.7355
Epoch 18/100
25724/25724 [==============================] - 4s 153us/sample - loss: 0.5412 - accuracy: 0.7364
Epoch 19/100
25724/25724 [==============================] - 4s 146us/sample - loss: 0.5407 - accuracy: 0.7354 - loss: 0.5393 - accuracy: 0.73 - ETA: 0s -
Epoch 20/100
25568/25724 [============================>.] - ETA: 0s - loss: 0.5408 - accuracy: 0.7359
Epoch 00020: saving model to Checkpoints
INFO:tensorflow:Assets written to: Checkpoints/assets
25724/25724 [==============================] - 5s 180us/sample - loss: 0.5406 - accuracy: 0.7362
Epoch 21/100
25724/25724 [==============================] - 6s 220us/sample - loss: 0.5405 - accuracy: 0.7358
Epoch 22/100
25724/25724 [==============================] - 4s 148us/sample - loss: 0.5400 - accuracy: 0.7353
Epoch 23/100
25724/25724 [==============================] - 5s 191us/sample - loss: 0.5394 - accuracy: 0.7357
Epoch 24/100
25724/25724 [==============================] - 4s 167us/sample - loss: 0.5394 - accuracy: 0.7359
Epoch 25/100
25504/25724 [============================>.] - ETA: 0s - loss: 0.5391 - accuracy: 0.7364
Epoch 00025: saving model to Checkpoints
INFO:tensorflow:Assets written to: Checkpoints/assets
25724/25724 [==============================] - 4s 162us/sample - loss: 0.5387 - accuracy: 0.7367
Epoch 26/100
25724/25724 [==============================] - 5s 188us/sample - loss: 0.5388 - accuracy: 0.7360
Epoch 27/100
25724/25724 [==============================] - 4s 138us/sample - loss: 0.5384 - accuracy: 0.7373
Epoch 28/100
25724/25724 [==============================] - 4s 136us/sample - loss: 0.5387 - accuracy: 0.7357
Epoch 29/100
25724/25724 [==============================] - 5s 179us/sample - loss: 0.5380 - accuracy: 0.7371
Epoch 30/100
25472/25724 [============================>.] - ETA: 0s - loss: 0.5382 - accuracy: 0.7363
Epoch 00030: saving model to Checkpoints
INFO:tensorflow:Assets written to: Checkpoints/assets
25724/25724 [==============================] - 3s 132us/sample - loss: 0.5380 - accuracy: 0.7365
Epoch 31/100
25724/25724 [==============================] - 3s 135us/sample - loss: 0.5382 - accuracy: 0.7376
Epoch 32/100
25724/25724 [==============================] - 3s 104us/sample - loss: 0.5379 - accuracy: 0.7374
Epoch 33/100
25724/25724 [==============================] - 3s 103us/sample - loss: 0.5373 - accuracy: 0.7386
Epoch 34/100
25724/25724 [==============================] - 3s 101us/sample - loss: 0.5373 - accuracy: 0.7374
Epoch 35/100
25184/25724 [============================>.] - ETA: 0s - loss: 0.5368 - accuracy: 0.7390
Epoch 00035: saving model to Checkpoints
INFO:tensorflow:Assets written to: Checkpoints/assets
25724/25724 [==============================] - 3s 120us/sample - loss: 0.5372 - accuracy: 0.7390
Epoch 36/100
25724/25724 [==============================] - 3s 126us/sample - loss: 0.5367 - accuracy: 0.7388
Epoch 37/100
25724/25724 [==============================] - 3s 126us/sample - loss: 0.5370 - accuracy: 0.7385
Epoch 38/100
25724/25724 [==============================] - 2s 97us/sample - loss: 0.5371 - accuracy: 0.7379
Epoch 39/100
25724/25724 [==============================] - 3s 98us/sample - loss: 0.5367 - accuracy: 0.7380
Epoch 40/100
25312/25724 [============================>.] - ETA: 0s - loss: 0.5368 - accuracy: 0.7379
Epoch 00040: saving model to Checkpoints
INFO:tensorflow:Assets written to: Checkpoints/assets
25724/25724 [==============================] - 3s 116us/sample - loss: 0.5364 - accuracy: 0.7378
Epoch 41/100
25724/25724 [==============================] - 3s 131us/sample - loss: 0.5361 - accuracy: 0.7381 -
Epoch 42/100
25724/25724 [==============================] - 3s 99us/sample - loss: 0.5362 - accuracy: 0.7385
Epoch 43/100
25724/25724 [==============================] - 3s 105us/sample - loss: 0.5361 - accuracy: 0.7375
Epoch 44/100
25724/25724 [==============================] - 2s 94us/sample - loss: 0.5357 - accuracy: 0.7393
Epoch 45/100
25568/25724 [============================>.] - ETA: 0s - loss: 0.5361 - accuracy: 0.7396
Epoch 00045: saving model to Checkpoints
INFO:tensorflow:Assets written to: Checkpoints/assets
25724/25724 [==============================] - 3s 125us/sample - loss: 0.5361 - accuracy: 0.7393
Epoch 46/100
25724/25724 [==============================] - 4s 150us/sample - loss: 0.5356 - accuracy: 0.7392
Epoch 47/100
25724/25724 [==============================] - 3s 103us/sample - loss: 0.5358 - accuracy: 0.7379
Epoch 48/100
25724/25724 [==============================] - 3s 97us/sample - loss: 0.5352 - accuracy: 0.7378
Epoch 49/100
25724/25724 [==============================] - 3s 122us/sample - loss: 0.5353 - accuracy: 0.7396
Epoch 50/100
25440/25724 [============================>.] - ETA: 0s - loss: 0.5353 - accuracy: 0.7388
Epoch 00050: saving model to Checkpoints
INFO:tensorflow:Assets written to: Checkpoints/assets
25724/25724 [==============================] - 4s 152us/sample - loss: 0.5353 - accuracy: 0.7388
Epoch 51/100
25724/25724 [==============================] - 9s 331us/sample - loss: 0.5350 - accuracy: 0.7402
Epoch 52/100
25724/25724 [==============================] - 5s 186us/sample - loss: 0.5351 - accuracy: 0.7395
Epoch 53/100
25724/25724 [==============================] - 7s 257us/sample - loss: 0.5342 - accuracy: 0.7382
Epoch 54/100
25724/25724 [==============================] - 4s 169us/sample - loss: 0.5350 - accuracy: 0.7386
Epoch 55/100
25408/25724 [============================>.] - ETA: 0s - loss: 0.5344 - accuracy: 0.7400
Epoch 00055: saving model to Checkpoints
INFO:tensorflow:Assets written to: Checkpoints/assets
25724/25724 [==============================] - 4s 174us/sample - loss: 0.5342 - accuracy: 0.7401
Epoch 56/100
25724/25724 [==============================] - 7s 285us/sample - loss: 0.5346 - accuracy: 0.7391
Epoch 57/100
25724/25724 [==============================] - 4s 139us/sample - loss: 0.5346 - accuracy: 0.7395
Epoch 58/100
25724/25724 [==============================] - 4s 146us/sample - loss: 0.5340 - accuracy: 0.7402
Epoch 59/100
25724/25724 [==============================] - 5s 184us/sample - loss: 0.5342 - accuracy: 0.7401
Epoch 60/100
25696/25724 [============================>.] - ETA: 0s - loss: 0.5340 - accuracy: 0.7391
Epoch 00060: saving model to Checkpoints
INFO:tensorflow:Assets written to: Checkpoints/assets
25724/25724 [==============================] - 6s 236us/sample - loss: 0.5340 - accuracy: 0.7391
Epoch 61/100
25724/25724 [==============================] - 8s 312us/sample - loss: 0.5340 - accuracy: 0.7392
Epoch 62/100
25724/25724 [==============================] - 5s 189us/sample - loss: 0.5339 - accuracy: 0.7390
Epoch 63/100
25724/25724 [==============================] - 5s 192us/sample - loss: 0.5334 - accuracy: 0.7392
Epoch 64/100
25724/25724 [==============================] - 4s 174us/sample - loss: 0.5341 - accuracy: 0.7391
Epoch 65/100
25568/25724 [============================>.] - ETA: 0s - loss: 0.5338 - accuracy: 0.7401 ETA: 0s - loss: 0.5332 - accuracy: 0.74
Epoch 00065: saving model to Checkpoints
INFO:tensorflow:Assets written to: Checkpoints/assets
25724/25724 [==============================] - 4s 157us/sample - loss: 0.5337 - accuracy: 0.7402
Epoch 66/100
25724/25724 [==============================] - 9s 340us/sample - loss: 0.5334 - accuracy: 0.7392
Epoch 67/100
25724/25724 [==============================] - 7s 275us/sample - loss: 0.5338 - accuracy: 0.7400
Epoch 68/100
25724/25724 [==============================] - 5s 183us/sample - loss: 0.5330 - accuracy: 0.7400
Epoch 69/100
25724/25724 [==============================] - 5s 206us/sample - loss: 0.5329 - accuracy: 0.7397
Epoch 70/100
25376/25724 [============================>.] - ETA: 0s - loss: 0.5333 - accuracy: 0.7400
Epoch 00070: saving model to Checkpoints
INFO:tensorflow:Assets written to: Checkpoints/assets
25724/25724 [==============================] - 4s 170us/sample - loss: 0.5332 - accuracy: 0.7398
Epoch 71/100
25724/25724 [==============================] - 6s 249us/sample - loss: 0.5329 - accuracy: 0.7400
Epoch 72/100
25724/25724 [==============================] - 4s 148us/sample - loss: 0.5332 - accuracy: 0.7403
Epoch 73/100
25724/25724 [==============================] - 5s 186us/sample - loss: 0.5334 - accuracy: 0.7401
Epoch 74/100
25724/25724 [==============================] - 4s 165us/sample - loss: 0.5328 - accuracy: 0.7401
Epoch 75/100
25504/25724 [============================>.] - ETA: 0s - loss: 0.5326 - accuracy: 0.7399
Epoch 00075: saving model to Checkpoints
INFO:tensorflow:Assets written to: Checkpoints/assets
25724/25724 [==============================] - 5s 199us/sample - loss: 0.5329 - accuracy: 0.7398
Epoch 76/100
25724/25724 [==============================] - 7s 254us/sample - loss: 0.5324 - accuracy: 0.7400
Epoch 77/100
25724/25724 [==============================] - 4s 145us/sample - loss: 0.5327 - accuracy: 0.7402
Epoch 78/100
25724/25724 [==============================] - 4s 141us/sample - loss: 0.5327 - accuracy: 0.7400
Epoch 79/100
25724/25724 [==============================] - 4s 138us/sample - loss: 0.5325 - accuracy: 0.7397
Epoch 80/100
25280/25724 [============================>.] - ETA: 0s - loss: 0.5325 - accuracy: 0.7390
Epoch 00080: saving model to Checkpoints
INFO:tensorflow:Assets written to: Checkpoints/assets
25724/25724 [==============================] - 4s 162us/sample - loss: 0.5325 - accuracy: 0.7390
Epoch 81/100
25724/25724 [==============================] - 6s 226us/sample - loss: 0.5322 - accuracy: 0.7412
Epoch 82/100
25724/25724 [==============================] - 5s 202us/sample - loss: 0.5324 - accuracy: 0.7402
Epoch 83/100
25724/25724 [==============================] - 4s 171us/sample - loss: 0.5321 - accuracy: 0.7394
Epoch 84/100
25724/25724 [==============================] - 4s 144us/sample - loss: 0.5321 - accuracy: 0.7402
Epoch 85/100
25664/25724 [============================>.] - ETA: 0s - loss: 0.5318 - accuracy: 0.7405
Epoch 00085: saving model to Checkpoints
INFO:tensorflow:Assets written to: Checkpoints/assets
25724/25724 [==============================] - 5s 177us/sample - loss: 0.5317 - accuracy: 0.7406
Epoch 86/100
25724/25724 [==============================] - 9s 344us/sample - loss: 0.5321 - accuracy: 0.7403
Epoch 87/100
25724/25724 [==============================] - 4s 139us/sample - loss: 0.5318 - accuracy: 0.7414
Epoch 88/100
25724/25724 [==============================] - 3s 102us/sample - loss: 0.5322 - accuracy: 0.7407
Epoch 89/100
25724/25724 [==============================] - 3s 103us/sample - loss: 0.5318 - accuracy: 0.7399
Epoch 90/100
25664/25724 [============================>.] - ETA: 0s - loss: 0.5318 - accuracy: 0.7394
Epoch 00090: saving model to Checkpoints
INFO:tensorflow:Assets written to: Checkpoints/assets
25724/25724 [==============================] - 4s 146us/sample - loss: 0.5317 - accuracy: 0.7394
Epoch 91/100
25724/25724 [==============================] - 5s 198us/sample - loss: 0.5318 - accuracy: 0.7405
Epoch 92/100
25724/25724 [==============================] - 2s 89us/sample - loss: 0.5317 - accuracy: 0.7397
Epoch 93/100
25724/25724 [==============================] - 2s 93us/sample - loss: 0.5319 - accuracy: 0.7403
Epoch 94/100
25724/25724 [==============================] - 3s 105us/sample - loss: 0.5315 - accuracy: 0.7402
Epoch 95/100
25696/25724 [============================>.] - ETA: 0s - loss: 0.5315 - accuracy: 0.7396
Epoch 00095: saving model to Checkpoints
INFO:tensorflow:Assets written to: Checkpoints/assets
25724/25724 [==============================] - 3s 125us/sample - loss: 0.5315 - accuracy: 0.7395
Epoch 96/100
25724/25724 [==============================] - 4s 166us/sample - loss: 0.5314 - accuracy: 0.7397
Epoch 97/100
25724/25724 [==============================] - 2s 93us/sample - loss: 0.5312 - accuracy: 0.7406
Epoch 98/100
25724/25724 [==============================] - 3s 101us/sample - loss: 0.5316 - accuracy: 0.7398
Epoch 99/100
25724/25724 [==============================] - 2s 95us/sample - loss: 0.5314 - accuracy: 0.7404
Epoch 100/100
25472/25724 [============================>.] - ETA: 0s - loss: 0.5314 - accuracy: 0.7401
Epoch 00100: saving model to Checkpoints
INFO:tensorflow:Assets written to: Checkpoints/assets
25724/25724 [==============================] - 3s 128us/sample - loss: 0.5313 - accuracy: 0.7399

In [16]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/1 - 2s - loss: 0.5280 - accuracy: 0.7279
Loss: 0.561435818401092, Accuracy: 0.7279300093650818

In [17]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE
nn.save('Models/AlphabetSoupCharity.h5')